/* CSS file */

#user-toolbar {
    margin-top: 20px;
    padding-right: 30px;
}

 #home-toolbar {
    margin-top: 20px;
    padding-left: 30px;
    font-size: 16px;
 }

.content {
    white-space: pre-wrap;
}

#header {
    margin-bottom: 20px;
}

#main_buttons {
    margin-bottom: 50px;
    margin-top: 50px;
}