{% extends 'blogapp/base.html' %}
{% load static from staticfiles %}

{% block meta_title %}-Users{% endblock meta_title %}

{% block title %}List of users:{% endblock title %}

{% block content %}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Email</th>
            <th>Posts</th>
        </tr>
    </thead>
    <tbody>
    {% for user_ in users %}
        <tr>
            <td>{{ user_.id }}</td>
            <td>{{ user_.email }}</td>
            <td><a href="{% url 'user_posts' user_.id %}">
                number of posted: {{ user_.blog.get_is_posted.count }} {% if user == user_ %}, number of all: {{user_.blog.posts.count }}{% endif %}
            </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}